%form
  .row
    .large-2.columns
      %label.right.inline Email
    .large-10.columns
      %input{:type => 'text'}
  .row
    .large-2.columns
      %label.right.inline Password
    .large-10.columns
      %input{:type => 'text'}
  .row
    .large-2.columns
    .large-10.columns
      %input{:type => 'checkbox'}
      %label Remember me
  .row
    .large-2.columns
    .large-10.columns
      %input#joyride-1.button.tiny{:type => 'submit', :value => 'Sign In', :style => 'width:100%;'}
  .row
    .large-12.columns{:style => 'border-bottom:black 1px solid;margin:25px 0;'}
  .row
    .large-12.columns
      %img{:src => 'img/facebook.png'}
